<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="<storage connection string>" />
    <add name="AzureWebJobsStorage" connectionString="<storage connection string>" />
  </connectionStrings>
  <appSettings>
    <add key="OrdersQueueName" value="orders" />
    <add key="OrdersContainerName" value="orders" />
    <add key="ProductsTableName" value="OrderedProducts" />
    <add key="AdminEmail" value="<your email>" />
    <add key="AzureWebJobsSendGridApiKey" value="<your send grid api key>" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>